* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #e9f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 95%;
  max-width: 1100px;
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 20px 50px rgba(0,0,0,.15);
}

/* LEFT */
.left {
  flex: 1;
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 28px;
}

.clear {
  color: #6b21a8;
  text-decoration: underline;
  cursor: pointer;
}

label {
  display: block;
  margin: 25px 0 8px;
  color: #475569;
}

.input-box {
  display: flex;
  border: 1px solid #cfe3ec;
  border-radius: 8px;
  overflow: hidden;
}

.input-box span {
  background: #eef6fb;
  padding: 12px 14px;
  font-weight: bold;
}

.input-box input {
  border: none;
  outline: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
}

.row {
  display: flex;
  gap: 20px;
}

.row .input-box {
  flex: 1;
}

/* Mortgage Type */
.type {
  border: 1px solid #cfe3ec;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  cursor: pointer;
}

.type.active {
  background: #fff9db;
  border-color: #d4e157;
}

.type input {
  width: 18px;
  height: 18px;
}

.calculate {
  margin-top: 35px;
  background: #d4e157;
  border: none;
  padding: 16px;
  width: 100%;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* RIGHT */
.right {
  flex: 1;
  background: #0f2c3f;
  padding: 40px;
  color: white;
  border-radius: 0 25px 25px 80px;
}

.right h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.desc {
  color: #9fb6c3;
  line-height: 1.6;
}

.result-box {
  background: rgba(0,0,0,.25);
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  border-top: 4px solid #d4e157;
}

.result-box p {
  color: #9fb6c3;
}

.monthly {
  font-size: 50px;
  color: #d4e157;
  margin: 15px 0;
}

hr {
  border: none;
  border-top: 1px solid rgba(255,255,255,.2);
  margin: 20px 0;
}

/* RESPONSIVE */
@media(max-width:900px){
  .container {
    flex-direction: column;
  }
  .right {
    border-radius: 0 0 25px 25px;
  }
}
.total-label {
  margin-bottom: 10px;   /* space between text and amount */
  color: #9fb6c3;
}

.total-amount {
  margin-top: 8px;       /* extra breathing room */
  font-size: 22px;
}

